h1.ml-3{
    font-size: 40px;
    padding: 0;;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    
}
body{
    background-color: #F0F8FF;
    position: relative;
}
img{
    height: 75px;
}
p{
    margin:0;
}
figure{
    position:absolute;
}
.container{
    height: 100px;
    width: 50%;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    text-align: left;
}
form{
    width: 50%;
    position: relative;
    left: 25%;
}
.maunen{
    background-color: #f8f8f8;
}